/* Universal Styles */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.center {
    text-align: center;
    font-size: 2rem;
    color: #36454F;
}



header, footer {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    height: 4rem;
}


.background-color-gray {
    background-color: lightgrey;
}

#light-para {
    font-weight: 400;
    color: #36454F;
    line-height: 1.4;
}

/* Header */

header #colmaricon {
    height: 2rem;
    justify-content: flex-start;
}

header p, span {
    font-size: 1.5rem;
}

header p {
    font-weight: bold;
    color: #36454F;
}

header span {
    color: gray;
}

header img {
    margin-left: 1.5rem;
}

header nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    margin-right: 1rem;
}

nav #margin-right {
    margin-right: 1.5rem;
}

span a {
    text-decoration: none;
    color: #36454F;
    font-size: 1rem;
}



/* Sign Up Section */

#sign-in {
    background-color: lightgray;
    padding: 2rem 1.5rem;
}

#sign-in img {
    width: 100%;
}


#sign-in hgroup {
    position: absolute;
    top: 30%;
    left: 65%;
}

#sign-in h2 {
    font-size: 3rem;
    color: #36454F;
}

#sign-in p {
    color: #36454F;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

#sign-in button {
    border-radius: 0;
    background-color: #36454F;
    color: white;
    border: 1px #36454F;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50%;
    font-size: 1.2rem;
}

/* About Campus Section */

#about-campus {
    padding: 2rem 1.5rem;
}


#about-campus h2 {
    font-size: 2rem;
    color: #36454F;
}


aside {
    position: absolute;
    top: 108%;
    left: 65%;
    border-left: 1px solid #d3d3d3;
}

#border-bottom {
    border-bottom: 1px solid #d3d3d3;
}

#border-top {
    border-top: 1px solid #d3d3d3;
    margin-top: 0.1rem;
}

aside img {
    height: auto;
    width: 35%;
    margin: 1rem 1rem;
}

aside #far-right-top {
    position: absolute;
    top: 8%;
    left: 43%;
}

aside #far-right-middle {
    position: absolute;
    top: 40%;
    left: 43%;
}

aside #far-right-bottom {
    position: absolute;
    top: 75%;
    left: 43%;
}

#far-right-bottom p {
    line-height: 1.4;
}

section h3 {
    color: #36454F;
    font-size: 1.5rem;
}

#far-right-top p, #far-right-middle p, #far-right-bottom p {
    color: #36454F;
}

#far-right-top a, #far-right-middle a, #far-right-bottom a {
    text-decoration: none;
}


/* Start Learning Section */

#wrapper {
    margin: 2rem 4.5rem;
}

#start-learning {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: lightgrey;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.entry {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.entry img {
    width: 100%;
}

figure {
    background-color: white;
}

figcaption {
    padding: 2rem;
}

figcaption p, h3 {
    color: gray;
}

figcaption p {
    line-height: 1.5;
}

/* Thesis Exhibit Section */

#thesis-exhibit {
    padding: 2rem 1.5rem;
}

#thesis-exhibit h2 {
    margin-bottom: 2rem;
}

#thesis-exhibit video {
    width: 100%;
}

#right-2 {
    position: absolute;
    top: 364%;
}

#far-right-middle-2 {
    position: absolute;
    top: 65%;
    left: 43%;
}

#thesis-exhibit section p {
    color: gray;
}

#thesis-exhibit aside {
    border: none;
}

/* Footer */

footer {
    padding-left: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid #d3d3d3;
    color: gray;
}

footer nav {
    text-align: right;
    flex-grow: 1;
    margin-right: 1.5rem;
}

footer a {
    color: gray;
}

/* Mobile Media Query */

@media only screen and (max-width: 760px) {
    .display-none {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
    }
}