/* Universal Styles */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}


.left {
    width: 60%;
}

.right {
    width: 40%;
}

.center {
    text-align: center;
    font-size: 2rem;
}


/* Header */

header {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    height: 4rem;

}

header #colmaricon {
    height: 2rem;
    justify-content: flex-start;
}

header p, span {
    font-size: 1.5rem;
}

header p {
    font-weight: bold;
    color: #36454F;
}

header span {
    color: gray;
}

header img {
    margin-left: 1.5rem;
}

header nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    margin-right: 1rem;
}

nav #margin-right {
    margin-right: 1.5rem;
}

span a {
    text-decoration: none;
    color: #36454F;
    font-size: 1rem;
}

/* Sign Up Section */

#sign-in {
    background-color: lightgray;
    padding: 2rem 1.5rem;
}

#sign-in img {
    width: 100%;
}


#sign-in hgroup {
    position: absolute;
    top: 30%;
    left: 65%;
}

#sign-in h2 {
    font-size: 3rem;
    color: #36454F;
}

#sign-in p {
    color: #36454F;
    font-size: 1.5rem;
    font-weight: 500;
}

#sign-in button {
    border-radius: 0;
    background-color: #36454F;
    color: white;
    border: 1px #36454F;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50%;
    font-size: 1.2rem;
}

/* About Campus Section */

#about-campus {
    padding: 2rem 1.5rem;
}


#about-campus h2 {
    font-size: 2rem;
    color: #36454F;
}

#light-para {
    font-weight: 400;
    color: #36454F;
}

aside {
    position: absolute;
    top: 110.2%;
    left: 65%;
}

aside img {
    height: auto;
    width: 35%;
    margin: 1rem 1rem;
}

aside #far-right-top {
    position: absolute;
    top: 8%;
    left: 43%;
}

aside #far-right-middle {
    position: absolute;
    top: 40%;
    left: 43%;
}

aside #far-right-bottom {
    position: absolute;
    top: 75%;
    left: 43%;
}

#background-color-gray {
    background-color: lightgrey;
}

section h3 {
    color: #36454F;
    font-size: 1.5rem;
}

#far-right-top p, #far-right-middle p, #far-right-bottom p {
    color: #36454F;
}

#far-right-top a, #far-right-middle a, #far-right-bottom a {
    text-decoration: none;
}


/* Start Learning Section */

#wrapper {
    margin: 2rem 4.5rem;
}

#start-learning {
    background-color: lightgrey;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.entry {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.entry img {
    width: 100%;
}

figure {
    background-color: white;
}