/* Universal Styles */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Header */

header {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    height: 4rem;

}

header #colmaricon {
    height: 2rem;
    justify-content: flex-start;
}

header p, span {
    font-size: 2rem;
}
